* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html,
body {
  width: 100vw;
  height: 100vh;
  font-family: "Inconsolata", monospace;
}
body {
  background: rgb(255,191,99);
  background: linear-gradient(0deg, rgba(255,191,99,1) 0%, rgba(112,54,255,0.8533788515406162) 50%, rgba(112,54,255,1) 100%);
  background-repeat: no-repeat;
  overflow: hidden;
}

a {
  text-decoration: none;
}

div.cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  justify-content: center;

}

#term {
  height: 20rem;
  width: 20rem;
  /* margin: 2rem 0.7rem; */
  background: #111;
  border: 1px solid #252525;
  border-radius: 0.5rem;
  box-shadow: 0 0 4rem rgba(0, 0, 0, 0.4);
}

.term-bar {
  height: 2rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: #37383b;
  border-bottom: 1px solid #252525;
  border-radius: 0.45rem 0.45rem 0 0;
  justify-content: space-between;
}

.term-winctrl {
  padding: 0.5rem;
}

.term .term-btn {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 0.5rem;
  display: inline-block;
  margin: 0.1rem;
}
.term .term-btn.close {
  background-color: #ff3b30;
}
.term .term-btn.minimise {
  background-color: #ffcc00;
}
.term .term-btn.maximise {
  background-color: #28cd41;
}

.term-btn:hover {
  cursor: pointer;
}

.term-title {
  font-family: "Montserrat", sans-serif;
  font-size: 0.85rem;
  color: #ddd;
  margin: auto 0;
}

.term-bar-gh {
  display: inline-block;
  width: 4.5rem;
  height: 2rem;
  padding: 0.5rem;
  text-align: right;
  margin: 0;
}
.term-bar-gh svg {
  width: 1rem;
  height: 1rem;
  fill: #666;
}

.term-cont {
  color: #fff;
  padding: 0.5rem;
}

.term-cmd {
  background: none;
  margin: 0;
  border: 0;
  color: inherit;
  font-family: inherit;
  font-size: 1rem;
}

.term-caret {
  display: inline-block;
  color: #fff;
  padding: 0;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
}
.term-caret.blink {
  color: transparent;
}

.term-input-hide {
  opacity: 0;
  background: none;
  border: 0;
  color: transparent;
  position: absolute;
}

.term-right {
  margin-right: 70px;
}

.folder-cont {
  width: 20rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-left: 10px;
}

.folder-cont-folders {
  justify-content: space-around;
  cursor: pointer;
}

#typed {
  white-space: pre;
}


.folder-svg {
  margin-left: 5px;
}

.folder-name {
  color: white;
  align-items: center;
}

.folder-name-social {
  margin: 8px;
}

.folder-name-blog {
  margin: 17px;
}

#folder-social-open {
  display: none;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  height: 25rem;
  width: 20rem;

}

.folder-open svg {
  width: 40px;
  margin: 10px;
  fill: white;
}
